@media (min-width: 1025px) {
  .equipment__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    }
   .equipment__sorting {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 18px;
    & .sortingItem {
      width: auto;
      height: auto;
      color: #a9a9a9;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      cursor: pointer;
    }
    & .sortingItem__active {
      width: auto;
      height: auto;
      color: var(--1-a-1-c-23, #1a1c23);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
    }
  }
  .catalogEquipment {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,minmax(33.33%,296px));
    column-gap: 16px;
    row-gap: 16px;
    padding-top: 24px;
    border-top: 1px solid #A9A9A9;
    animation: none;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeIn;
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    & .item {
        width: 100%;
        max-width: 296px;
        height: auto;
        padding: 40px 24px 32px 24px;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        & .image__wrapper {
          margin-bottom: 16px;
          height: 168px;
          max-height: 168px;
          & .minerImage {
            width: 100%;
            min-width: 100%;
            height: 100%;
            object-fit: fill;
            z-index: 10000;
          }
        }
        & .description {
          display: flex;
          flex-direction: column;
          position: relative;
          & .presence {
            color: var(--a-9-a-9-a-9, #a9a9a9);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 4px;
          }
          & .title {
            color: var(--1-a-1-c-23, #1a1c23);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 12px;
            padding-right: 60px;
          }
          & .parameters {
            display: flex;
            align-items: center;
            column-gap: 16px;
            margin-bottom: 32px;
            & .parameters__item {
              display: flex;
              align-items: center;
              column-gap: 3px;
              & .numbers {
                color: var(--1-a-1-c-23, #1a1c23);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
              & .text {
                color: var(--a-9-a-9-a-9, #a9a9a9);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
            }
          }
          & .price__wrapper {
            display: flex;
            align-items: center;
            column-gap: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
            & .price {
              color: var(--1-a-1-c-23, #1a1c23);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
            & .priceIcon {
              color: var(--a-9-a-9-a-9, #a9a9a9);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
          }
        }
        & .label {
          width: 75px;
          height: 22px;
          border-radius: 50px;
          background: #45b26b;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #fff;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & .labelHit {
          width: 45px;
          height: 22px;
          border-radius: 50px;
          background: #fedc5a;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #1a1c23;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      & .item:hover {
        background: rgba(169, 169, 169, 0.3);
      }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .equipment__wrapper {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    }
   .equipment__sorting {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 18px;
    & .sortingItem {
      width: auto;
      height: auto;
      color: #a9a9a9;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      cursor: pointer;
    }
    & .sortingItem__active {
      width: auto;
      height: auto;
      color: var(--1-a-1-c-23, #1a1c23);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
    }
  }
  .catalogEquipment {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,minmax(50%,296px));
    column-gap: 16px;
    row-gap: 16px;
    padding-top: 24px;
    border-top: 1px solid #A9A9A9;
    animation: none;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeIn;
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    & .item {
        width: 100%;
        max-width: 296px;
        height: auto;
        padding: 40px 24px 32px 24px;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        & .image__wrapper {
          margin-bottom: 16px;
          height: 168px;
          max-height: 168px;
          & .minerImage {
            width: 100%;
            min-width: 100%;
            height: 100%;
            object-fit: fill;
            z-index: 10000;
          }
        }
        & .description {
          display: flex;
          flex-direction: column;
          position: relative;
          & .presence {
            color: var(--a-9-a-9-a-9, #a9a9a9);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 4px;
          }
          & .title {
            color: var(--1-a-1-c-23, #1a1c23);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 12px;
            padding-right: 60px;
          }
          & .parameters {
            display: flex;
            align-items: center;
            column-gap: 16px;
            margin-bottom: 32px;
            & .parameters__item {
              display: flex;
              align-items: center;
              column-gap: 3px;
              & .numbers {
                color: var(--1-a-1-c-23, #1a1c23);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
              & .text {
                color: var(--a-9-a-9-a-9, #a9a9a9);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
            }
          }
          & .price__wrapper {
            display: flex;
            align-items: center;
            column-gap: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
            & .price {
              color: var(--1-a-1-c-23, #1a1c23);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
            & .priceIcon {
              color: var(--a-9-a-9-a-9, #a9a9a9);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
          }
        }
        & .label {
          width: 75px;
          height: 22px;
          border-radius: 50px;
          background: #45b26b;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #fff;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & .labelHit {
          width: 45px;
          height: 22px;
          border-radius: 50px;
          background: #fedc5a;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #1a1c23;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      & .item:hover {
        background: rgba(169, 169, 169, 0.3);
      }
  }
}
@media (max-width: 768px) {
  .equipment__wrapper {
    order: 2;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
    }
   .equipment__sorting {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 18px;
    & .sortingItem {
      width: auto;
      height: auto;
      color: #a9a9a9;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      cursor: pointer;
    }
    & .sortingItem__active {
      width: auto;
      height: auto;
      color: var(--1-a-1-c-23, #1a1c23);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      cursor: pointer;
    }
  }
  .catalogEquipment {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    column-gap: 16px;
    row-gap: 16px;
    padding-top: 24px;
    border-top: 1px solid #A9A9A9;
    animation: none;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeIn;
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    & .item {
        width: 100%;
        max-width: 296px;
        height: auto;
        padding: 40px 24px 32px 24px;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        & .image__wrapper {
          margin-bottom: 16px;
          height: 168px;
          max-height: 168px;
          & .minerImage {
            width: 100%;
            min-width: 100%;
            height: 100%;
            object-fit: fill;
            z-index: 10000;
          }
        }
        & .description {
          display: flex;
          flex-direction: column;
          position: relative;
          & .presence {
            color: var(--a-9-a-9-a-9, #a9a9a9);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 4px;
          }
          & .title {
            color: var(--1-a-1-c-23, #1a1c23);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 12px;
            padding-right: 60px;
          }
          & .parameters {
            display: flex;
            align-items: center;
            column-gap: 16px;
            margin-bottom: 32px;
            & .parameters__item {
              display: flex;
              align-items: center;
              column-gap: 3px;
              & .numbers {
                color: var(--1-a-1-c-23, #1a1c23);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
              & .text {
                color: var(--a-9-a-9-a-9, #a9a9a9);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
            }
          }
          & .price__wrapper {
            display: flex;
            align-items: center;
            column-gap: 4px;
            position: absolute;
            left: 0;
            bottom: 0;
            & .price {
              color: var(--1-a-1-c-23, #1a1c23);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
            & .priceIcon {
              color: var(--a-9-a-9-a-9, #a9a9a9);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
          }
        }
        & .label {
          width: 75px;
          height: 22px;
          border-radius: 50px;
          background: #45b26b;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #fff;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & .labelHit {
          width: 45px;
          height: 22px;
          border-radius: 50px;
          background: #fedc5a;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #1a1c23;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      & .item:hover {
        background: rgba(169, 169, 169, 0.3);
      }
  }
}
