@media (min-width: 1025px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        margin-top: 48px;
        padding-bottom: 120px;
    }
    .about__body {
        width: 100%;
        display: grid;
        grid-template-columns: minmax(auto,295px) auto;
        column-gap: 114px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        margin-top: 48px;
        padding-bottom: 80px;
    }
}
@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        margin-top: 48px;
        padding-bottom: 80px;
    }
}