@media (min-width: 1025px) { 
    .siteNavigation {
        display: flex;
        column-gap: 20px;
        align-items: center;
         }
      .active {
        color: #1A1C23;
        font-weight: 700;
        font-size: 14px;
      }
      .nonActive {
        color: #A9A9A9;
        font-weight: 500;
        font-size: 14px;
      }
      .borderRight {
        position: relative;
      }
      .borderRight::before {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 0;
        border-right: 1px solid #1A1C23;
      }
      .mobileLogo {
        display: none;
      }
      .burger {
        display: none;
      }
      .mobileNavigation {
        display: none;
      }
      .burgerClose {
        display: none;
      }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .siteNavigation {
    display: flex;
    column-gap: 20px;
    align-items: center;
    }
  .active {
    color: #1A1C23;
    font-weight: 700;
    font-size: 14px;
  }
  .nonActive {
    color: #A9A9A9;
    font-weight: 500;
    font-size: 14px;
  }
  .borderRight {
    position: relative;
  }
  .borderRight::before {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 0;
    border-right: 1px solid #1A1C23;
  }
  .mobileLogo {
    display: none;
  }
  .burgerMenu {
    display: none;
  }
  .mobileNavigation {
    display: none;
  }
  .burgerClose {
    display: none;
  }
}
@media (max-width: 768px) {
  .siteNavigation {
    display: none;
  }
  .burger {
    align-self: center;
    width: 24px;
    height: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    position: relative;
    z-index: 100000;
  }
  .burger__line {
    position: absolute;
    top: 50%;
    left: 0;
    min-width: 100%;
    height: 2px;
    background: #222;
  }
  .burger__line::after {
    content: "";
    display: block;
    min-width: 100%;
    height: 2px;
    background: #222;
    transform: translateY(-9px);
  }
  .burger__line::before {
    content: "";
    display: block;
    min-width: 100%;
    height: 2px;
    background: #222;
    transform: translateY(7px);
  }
  
  .burgerClose {
    align-self: center;
    width: 24px;
    height: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    position: relative;
    z-index: 100000;
    margin-top: 10px;
    margin-bottom: 20px;
    & span {
      background: #fff;
      transform: rotate(45deg);
    }
    & span::before {
      content: "";
      display: block;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(7px);
      transform: rotate(-90deg);
    }
    & span::after {
      content: "";
      display: none;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(-9px);
    }
  }
  
  .mobileNavigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 360px;
    max-width: 100%;
    padding: 72px 24px 24px 24px;
    background: #1f1a1a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 24px;
    color: #f3ebeb;
    z-index: 10000;
  }
  .active {
    color: #fff;
    font-weight: 700;
    font-size: 17px;
  }
  .nonActive {
    color: #e0adad;
    font-weight: 500;
    font-size: 14px;
  }
}