@media (min-width: 1025px) {
  .wrapper {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
  }
  .catalog__body {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    & .title {
      color: #1a1c23;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 24px;
    }
    & .navigation {
      display: flex;
      align-items: center;
      column-gap: 20px;
      margin-bottom: 24px;
      & .activeCatalog {
        width: 163px;
        height: 48px;
        border-radius: 50px;
        background: var(--1-a-56-ff, #1a56ff);
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & .passiveCatalog {
        width: 163px;
        height: 48px;
        border-radius: 60px;
        border: 1px solid rgba(169, 169, 169, 0.3);
        color: var(--1-a-1-c-23, #1a1c23);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    & .goods__wrapper {
      width: 100%;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 32px;
      & .item {
        width: 100%;
        height: auto;
        padding: 40px 24px 32px 24px;
        display: flex;
        flex-direction: column;
        position: relative;
        & .image__wrapper {
          margin-bottom: 16px;
          & .minerImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 10000;
          }
        }
        & .description {
          display: flex;
          flex-direction: column;
          & .presence {
            color: var(--a-9-a-9-a-9, #a9a9a9);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 4px;
          }
          & .title {
            color: var(--1-a-1-c-23, #1a1c23);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 12px;
            padding-right: 60px;
          }
          & .parameters {
            display: flex;
            align-items: center;
            column-gap: 16px;
            margin-bottom: 32px;
            & .parameters__item {
              display: flex;
              align-items: center;
              column-gap: 3px;
              & .numbers {
                color: var(--1-a-1-c-23, #1a1c23);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
              & .text {
                color: var(--a-9-a-9-a-9, #a9a9a9);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
              }
            }
          }
          & .price__wrapper {
            display: flex;
            align-items: center;
            column-gap: 4px;
            & .price {
              color: var(--1-a-1-c-23, #1a1c23);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
            & .priceIcon {
              color: var(--a-9-a-9-a-9, #a9a9a9);
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }
          }
        }
        & .label {
          width: 75px;
          height: 22px;
          border-radius: 50px;
          background: #45b26b;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #fff;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & .labelHit {
          width: 45px;
          height: 22px;
          border-radius: 50px;
          background: #FEDC5A;
          position: absolute;
          left: 24px;
          top: 50px;
          color: #1A1C23;
          font-size: 10px;
          font-style: normal;
          font-weight: 600;
          line-height: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      & .item:hover {
        background: rgba(169, 169, 169, 0.3);
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 24px 0px 80px 0px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    min-height: 100vh;
    padding: 24px 0px 40px 0px;
    margin: 0 auto;
  }
}
