@import './variables.scss';
@mixin desctop() {
    @media (min-width: $breakpoint_1025) {
        @content
    }
};
@mixin gridOrder() {
    @media (min-width: $breakpoint_1025) and (max-width: $breakpoint_1400 ) {
        @content
    }
};
@mixin tablet() {
    @media (min-width: $breakpoint_769) and (max-width: $breakpoint_1024 ) {
        @content
    }
};
@mixin mobile() {
    @media (max-width: $breakpoint_768 ) {
        @content
    }
};
//-----------------------------------------------------
@mixin greyShadow() {
    fill: #fff;
    filter: drop-shadow(0px 64px 64px rgba(31, 47, 70, 0.12));
}
@mixin blueShadow() {
    fill: #fff;
    filter: drop-shadow(0px 0px 20px rgba(6, 101, 235, 0.5));
}