@media (min-width: 1025px) {
  .wrapper {
    max-width: 100%;
    padding: 53px 0 120px 0;
  }
  .main__wrapper {
    display: flex;
    flex-direction: column;
    & .title {
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
      margin-bottom: 24px;
    }
  }
}
