@media (min-width: 1025px) {
  .headerShop__column {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .headerShop__wrapper {
    width: 100%;
    padding: 12px 0;
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo__wrapper {
    margin-right: 44px;
  }
  .miningEquipment {
    max-width: 50%;
    white-space: wrap;
    margin-right: 56px;
    color: #a9a9a9;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .navigation__item {
    margin-right: 24px;
  }
  .socialMedia__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
    & .text {
      display: block;
      margin-right: 24px;
      text-align: right;
    }
  }
  .profileNavigation__wrapper {
    display: flex;
    align-items: center;
    column-gap: 23px;
  }
  .profileActive {
    font-size: 15px;
    font-weight: 700;
    color: #1a56ff;
  }
  .profileNonactive {
    font-size: 15px;
    font-weight: 700;
    color: #1a1c23;
  }
  .sorting__wrapper {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    & .catalog {
      max-width: 264px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      background: #f4f5f6;
      padding: 0 28px 0 20px;
      & .text {
        color: var(--1-a-1-c-23, #1a1c23);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
      & .burger {
        align-self: center;
        width: 24px;
        height: 14px;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        position: relative;
        z-index: 100000;
      }
      .burger__line {
        position: absolute;
        top: 50%;
        left: 0;
        min-width: 100%;
        height: 2px;
        background: #222;
      }
      .burger__line::after {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #222;
        transform: translateY(-9px);
      }
      .burger__line::before {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #222;
        transform: translateY(7px);
      }

      .burgerClose {
        align-self: center;
        width: 24px;
        height: 14px;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        position: relative;
        z-index: 100000;
        margin-top: 10px;
        margin-bottom: 20px;
        & span {
          background: #222;
          transform: rotate(45deg);
        }
        & span::before {
          content: "";
          display: block;
          min-width: 100%;
          height: 2px;
          background: #222;
          transform: translateY(7px);
          transform: rotate(-90deg);
        }
        & span::after {
          content: "";
          display: none;
          min-width: 100%;
          height: 2px;
          background: #222;
          transform: translateY(-9px);
        }
      }
    }
    .search__wrapper {
      width: 100%;
      max-width: 741px;
      height: 100%;
      position: relative;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
      & .searchInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        color: #1a1c23;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      & .searchInput::placeholder {
        color: #a9a9a9;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      & .searhIcon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    & .flag {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 64px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
    }
    & .menu {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 64px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
    }
    & .bucket {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      width: 100%;
      max-width: 145px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
      padding-left: 23px;
      & .text {
        color: #a9a9a9;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }
  //catalog-active------------------------------------
  .catalogActive {
    border-radius: 32px;
    background: #2b2a3b;
    max-width: 264px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 0 28px 0 20px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    & .burger {
      align-self: center;
      width: 24px;
      height: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      position: relative;
      z-index: 100000;
    }
    .burger__line {
      position: absolute;
      top: 50%;
      left: 0;
      min-width: 100%;
      height: 2px;
      background: #fff;
    }
    .burger__line::after {
      content: "";
      display: block;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(-9px);
    }
    .burger__line::before {
      content: "";
      display: block;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(7px);
    }

    .burgerClose {
      align-self: center;
      width: 24px;
      height: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      position: relative;
      z-index: 100000;
      margin-top: 10px;
      margin-bottom: 20px;
      & span {
        background: #fff;
        transform: rotate(45deg);
      }
      & span::before {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(7px);
        transform: rotate(-90deg);
      }
      & span::after {
        content: "";
        display: none;
        min-width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(-9px);
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .headerShop__column {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .headerShop__wrapper {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .logo__wrapper {
    margin-right: 44px;
  }
  .miningEquipment {
    max-width: 50%;
    white-space: wrap;
    margin-right: 56px;
    color: #a9a9a9;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .navigation__item {
    margin-right: 24px;
  }
  .socialMedia__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 8px;
    & .text {
      display: none;
      margin-right: 24px;
      text-align: right;
    }
  }
  .profileNavigation__wrapper {
    display: flex;
    align-items: center;
    column-gap: 23px;
  }
  .profileActive {
    font-size: 15px;
    font-weight: 700;
    color: #1a56ff;
    white-space: nowrap;
  }
  .profileNonactive {
    font-size: 15px;
    font-weight: 700;
    color: #1a1c23;
    white-space: nowrap;
  }
  .sorting__wrapper {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & .catalog {
      order: 1;
      max-width: 264px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      background: #f4f5f6;
      padding: 0 28px 0 20px;
      & .text {
        color: var(--1-a-1-c-23, #1a1c23);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
      & .burger {
        align-self: center;
        width: 24px;
        height: 14px;
        display: none;
        flex-direction: column;
        row-gap: 3px;
        position: relative;
        z-index: 100000;
      }
      .burger__line {
        position: absolute;
        top: 50%;
        left: 0;
        min-width: 100%;
        height: 2px;
        background: #222;
      }
      .burger__line::after {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #222;
        transform: translateY(-9px);
      }
      .burger__line::before {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #222;
        transform: translateY(7px);
      }

      .burgerClose {
        align-self: center;
        width: 24px;
        height: 14px;
        display: none;
        flex-direction: column;
        row-gap: 3px;
        position: relative;
        z-index: 100000;
        margin-top: 10px;
        margin-bottom: 20px;
        & span {
          background: #222;
          transform: rotate(45deg);
        }
        & span::before {
          content: "";
          display: block;
          min-width: 100%;
          height: 2px;
          background: #222;
          transform: translateY(7px);
          transform: rotate(-90deg);
        }
        & span::after {
          content: "";
          display: none;
          min-width: 100%;
          height: 2px;
          background: #222;
          transform: translateY(-9px);
        }
      }
    }
    .search__wrapper {
      order: 5;
      width: 100%;
      max-width: 741px;
      height: 100%;
      position: relative;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
      & .searchInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        color: #1a1c23;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      & .searchInput::placeholder {
        color: #a9a9a9;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      & .searhIcon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    & .flag {
      order: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 64px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
    }
    & .menu {
      order: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 64px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
    }
    & .bucket {
      order: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      width: 100%;
      max-width: 145px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
      padding-left: 23px;
      & .text {
        color: #a9a9a9;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }
   //catalog-active------------------------------------
   .catalogActive {
    border-radius: 32px;
    background: #2b2a3b;
    max-width: 264px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 0 28px 0 20px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    & .burger {
      align-self: center;
      width: 24px;
      height: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      position: relative;
      z-index: 100000;
    }
    .burger__line {
      position: absolute;
      top: 50%;
      left: 0;
      min-width: 100%;
      height: 2px;
      background: #fff;
    }
    .burger__line::after {
      content: "";
      display: block;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(-9px);
    }
    .burger__line::before {
      content: "";
      display: block;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(7px);
    }

    .burgerClose {
      align-self: center;
      width: 24px;
      height: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      position: relative;
      z-index: 100000;
      margin-top: 10px;
      margin-bottom: 20px;
      & span {
        background: #fff;
        transform: rotate(45deg);
      }
      & span::before {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(7px);
        transform: rotate(-90deg);
      }
      & span::after {
        content: "";
        display: none;
        min-width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(-9px);
      }
    }
  }
}
@media (max-width: 768px) {
  .headerShop__column {
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 24px;
    position: relative;
  }
  .headerShop__wrapper {
    max-width: 100%;
    height: auto;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .logo__wrapper {
    display: none;
    margin-right: 44px;
  }
  .miningEquipment {
    max-width: 50%;
    white-space: wrap;
    margin-right: 35px;
    color: #a9a9a9;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }
  .navigation__item {
    margin-right: 24px;
  }
  .socialMedia__wrapper {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    //justify-content: flex-end;
    row-gap: 8px;
    & .text {
      display: none;
      margin-right: 24px;
      text-align: right;
    }
  }
  .profileNavigation__wrapper {
    display: flex;
    align-items: center;
    column-gap: 23px;
  }
  .profileActive {
    font-size: 15px;
    font-weight: 700;
    color: #1a56ff;
    white-space: nowrap;
  }
  .profileNonactive {
    font-size: 15px;
    font-weight: 700;
    color: #1a1c23;
    white-space: nowrap;
  }
  .logo {
    display: none;
  }
  .sorting__wrapper {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    & .catalog {
      order: 1;
      max-width: 264px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 20px;
      background: #f4f5f6;
      padding: 0 28px 0 20px;
      & .text {
        color: var(--1-a-1-c-23, #1a1c23);
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
      }
      & .burger {
        align-self: center;
        width: 24px;
        height: 14px;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        position: relative;
        z-index: 100000;
      }
      .burger__line {
        position: absolute;
        top: 50%;
        left: 0;
        min-width: 100%;
        height: 2px;
        background: #222;
      }
      .burger__line::after {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #222;
        transform: translateY(-9px);
      }
      .burger__line::before {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #222;
        transform: translateY(7px);
      }

      .burgerClose {
        align-self: center;
        width: 24px;
        height: 14px;
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        position: relative;
        z-index: 100000;
        margin-top: 10px;
        margin-bottom: 20px;
        & span {
          background: #222;
          transform: rotate(45deg);
        }
        & span::before {
          content: "";
          display: block;
          min-width: 100%;
          height: 2px;
          background: #222;
          transform: translateY(7px);
          transform: rotate(-90deg);
        }
        & span::after {
          content: "";
          display: none;
          min-width: 100%;
          height: 2px;
          background: #222;
          transform: translateY(-9px);
        }
      }
    }
    .search__wrapper {
      order: 5;
      width: 100%;
      max-width: 741px;
      height: 100%;
      position: relative;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
      & .searchInput {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        color: #1a1c23;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      & .searchInput::placeholder {
        color: #a9a9a9;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }
      & .searhIcon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    & .flag {
      order: 2;
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 64px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
    }
    & .menu {
      order: 3;
      display: none;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 64px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
    }
    & .bucket {
      order: 4;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 16px;
      width: 100%;
      max-width: 145px;
      height: 100%;
      border-top: 1px solid #f4f5f6;
      border-right: 1px solid #f4f5f6;
      border-bottom: 1px solid #f4f5f6;
      padding-left: 23px;
      & .text {
        color: #a9a9a9;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }
   //catalog-active------------------------------------
   .catalogActive {
    border-radius: 32px;
    background: #2b2a3b;
    max-width: 264px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 0 28px 0 20px;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 24px;
    & .burger {
      align-self: center;
      width: 24px;
      height: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      position: relative;
      z-index: 100000;
    }
    .burger__line {
      position: absolute;
      top: 50%;
      left: 0;
      min-width: 100%;
      height: 2px;
      background: #fff;
    }
    .burger__line::after {
      content: "";
      display: block;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(-9px);
    }
    .burger__line::before {
      content: "";
      display: block;
      min-width: 100%;
      height: 2px;
      background: #fff;
      transform: translateY(7px);
    }

    .burgerClose {
      align-self: center;
      width: 24px;
      height: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      position: relative;
      z-index: 100000;
      margin-top: 10px;
      margin-bottom: 20px;
      & span {
        background: #fff;
        transform: rotate(45deg);
      }
      & span::before {
        content: "";
        display: block;
        min-width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(7px);
        transform: rotate(-90deg);
      }
      & span::after {
        content: "";
        display: none;
        min-width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(-9px);
      }
    }
  }
}
