@media (min-width: 1025px) {
  .shopNavigation__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .shopNavigation__linkContainer {
    display: flex;
    align-items: center;
    column-gap: 23px;
  }
  .profileActive {
    font-size: 15px;
    font-weight: 700;
    color: #1a56ff;
  }
  .profileNonactive {
    font-size: 15px;
    font-weight: 700;
    color: #1a1c23;
  }
  .profileNonactive:hover {
    transform: scale(103%);
    color: #1a56ff;
  }
  
}
@media (min-width: 769px) and (max-width: 1024px) {
  .shopNavigation__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .shopNavigation__linkContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 23px;
    row-gap: 10px;
  }
  .profileActive {
    font-size: 15px;
    font-weight: 700;
    color: #1a56ff;
  }
  .profileNonactive {
    font-size: 15px;
    font-weight: 700;
    color: #1a1c23;
  }
  .profileNonactive:hover {
    transform: scale(103%);
    color: #1a56ff;
  }
}
@media (max-width: 768px) {
  .shopNavigation__wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .shopNavigation__linkContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 23px;
    row-gap: 10px;
  }
  .profileActive {
    font-size: 15px;
    font-weight: 700;
    color: #1a56ff;
  }
  .profileNonactive {
    font-size: 15px;
    font-weight: 700;
    color: #1a1c23;
  }
  .profileNonactive:hover {
    transform: scale(103%);
    color: #1a56ff;
  }
}