@import "../mediaBreakpoints.scss";

@include desctop {
    .wrapper {
      width: 100%;
      max-width: 100%;
      padding: 0px 80px 120px 80px;
      animation: none;
      opacity: 1;
      animation-duration: 1s;
      animation-name: fadeIn;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
     
    .main {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(auto, 214px) minmax(auto, 1fr);
      column-gap: 32px;
      }
  }
  
  @include tablet {
    .wrapper {
      width: 100%;
      max-width: 100%;
      padding: 0px 0px 40px 0px;
      animation: none;
      opacity: 1;
      animation-duration: 1s;
      animation-name: fadeIn;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  
  @include mobile {
    .wrapper {
      width: 100%;
      max-width: 100%;
      padding: 0px 0px 40px 0px;
      animation: none;
      opacity: 1;
      animation-duration: 1s;
      animation-name: fadeIn;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  