@media (min-width: 1025px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        padding: 21px 80px 40px 80px;
        animation: none;
        opacity: 1;
        animation-duration: 1s;
        animation-name: fadeIn;
        }
        @keyframes fadeIn {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (max-width: 768px) {
}