@import "../../mediaBreakpoints.scss";
@import "../../variables.scss";

@include desctop {
  .navigation__wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    & .navigation__body {
      max-width: 79.37%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 36px;
      border-bottom: 1px solid rgb(244, 245, 246);

      & .navigation__item {
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding-bottom: 15px;
        cursor: pointer;
        & .itemText {
          font-weight: 400;
          font-size: 18px;
          line-height: 156%;
          color: $primaryColor;
        }
        & .itemValue {
          width: 20px;
          height: 20px;
          border-radius: 100%;
          font-family: var(--font-family);
          font-weight: 600;
          font-size: 11px;
          line-height: 182%;
          text-align: center;
          color: $blue;
          background: #f4f5f6;
        }
      }
        & .navigation__itemActive {
        color: $primaryColor;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        display: flex;
        align-items: center;
        column-gap: 5px;
        padding-bottom: 15px;
        border-bottom: 2px solid $primaryColor;
        cursor: pointer;
        & .itemText {
            font-weight: 600;
            font-size: 18px;
            line-height: 156%;
            color: $primaryColor;
          }
          & .itemValue {
            width: 20px;
            height: 20px;
            border-radius: 100%;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 11px;
            line-height: 182%;
            text-align: center;
            color: $blue;
            background: #f4f5f6;
          }
        }
    }
  }
}
@include tablet {
}
@include mobile {
}


