@import "../../mediaBreakpoints.scss";
@import "../../variables.scss";

@include desctop {
  .wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  .headCell {
    display: flex;
    flex-direction: column;
    text-align: left;

    & .headTitle,
    .headText {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: $primaryColor;
    }

    & .headText {
      font-weight: 400;
      color: rgb(169, 169, 169);
    }
  }

  .devicesContent__header {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns:
      minmax(auto, 44px) minmax(auto, 186px) minmax(auto, 143px)
      minmax(auto, 136px) minmax(auto, 180px) minmax(auto, 245px) minmax(
        auto,
        132px
      )
      minmax(auto, 182px);
    border-bottom: 1px solid rgb(244, 245, 246);
    align-items: flex-start;
    padding-bottom: 16px;

    & .tableSelect {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 3px;
      border: 2px solid rgb(219, 219, 219);
      color: rgb(219, 219, 219);
      font-size: 20px;
      cursor: pointer;
    }
    & .headTitle {
      color: $primaryColor;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
    }
  }

  .devicesData__content {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid rgb(244, 245, 246);
    border-top: 1px solid rgb(244, 245, 246);

    & .contentRow {
      width: 100%;
      height: auto;
      min-height: 125px;
      align-items: flex-start;
      padding: 30px 0 20px 0;
      display: grid;
      grid-template-columns:
        minmax(auto, 44px) minmax(auto, 186px) minmax(auto, 143px)
        minmax(auto, 136px) minmax(auto, 180px) minmax(auto, 245px) minmax(
          auto,
          132px
        )
        minmax(auto, 182px) minmax(24px,24px);

      & .selected {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 3px;
        border: 2px solid rgb(219, 219, 219);
        color: rgb(219, 219, 219);
        font-size: 20px;
        cursor: pointer;
      }

      & .contentRowCell {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        & .poolLine {
          display: flex;
          align-items: flex-start;
          column-gap: 6px;

          & .poolInfo {
            display: flex;
            flex-direction: column;
            font-size: 12px;
          }

          & .dotDark {
            min-width: 8px;
            min-height: 8px;
            border-radius: 100%;
            background: rgb(62, 208, 133);
            transform: translateY(6px);
          }

          & .dotMiddle {
            min-width: 8px;
            min-height: 8px;
            border-radius: 100%;
            background: rgba(62, 208, 133, 0.5);
            transform: translateY(6px);
          }

          & .dotLight {
            min-width: 8px;
            min-height: 8px;
            border-radius: 100%;
            background: rgba(62, 208, 133, 0.2);
            transform: translateY(6px);
          }
        }

        & .status {
          border-radius: 6px;
          background: rgba(62, 208, 133, 0.2);
          text-transform: uppercase;
          color: rgb(62, 208, 133);
          font-size: 10px;
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0.2px;
          padding: 8px 10px;
          max-width: 62px;
          text-align: center;
        }
      }
    }
  }
  //----------------------------------------------------
  .birdFilter {
    min-width: 24px;
    min-height: 24px;
  }
}
@include tablet {
}

@include mobile {
}
