@media (min-width: 1025px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 164px;
  }
  .priceList__body {
    display: flex;
    align-items: center;
  }
  .information__body {
    width: 100%;
    max-width: 656px;
    //max-height: 692px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #2b2a3b;
    border-radius: 32px 0 0 32px;
    padding: 48px 48px 48px 56px;
    & .informationTitle {
      color: #fff;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
      margin-bottom: 24px;
      max-width: 62%;
    }
    & .informationText1 {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 5px;
    }
    & .informationText2 {
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    & .bonuses {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 134px;
      padding-left: 41px;
      position: relative;
      & .bonuses__title {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 34px;
      }
      & .line__wrapper {
        display: flex;
        align-items: center;
        column-gap: 24px;
        margin-bottom: 24px;
        & .counter__text {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          max-width: 70%;
        }
      }
      & .bonusArrow {
        position: absolute;
        left: -5px;
        top: 13px;
      }
    }
  }
  .counter__body {
    width: 100%;
    min-height: 780px;
    height: auto;
    max-width: 624px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 93px 56px;
    background: #fff;
    fill: #fff;
    stroke-width: 1px;
    stroke: var(--f-4-f-5-f-6, #f4f5f6);
    filter: drop-shadow(0px 64px 64px rgba(31, 47, 70, 0.12));
    & .slider__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .sliderTitle {
        color: var(--1-a-1-c-23, #1a1c23);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 16px;
      }
      & .slider__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .amount {
          color: var(--1-a-1-c-23, #1a1c23);
          text-align: center;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          margin-bottom: 16px;
        }
        & .slider {
          width: 100%;
          height: 10px;
          background: #f4f5f6;
        }
        & .thumb {
          position: absolute;
          top: 0px;
          transform: translateY(-31%);
          touch-action: none;
          width: 24px;
          height: 24px;
          background: #fff;
          border: 7px solid #1a56ff;
          border-radius: 100%;
        }
        & .scale {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: 12px;
          margin-bottom: 36px;
          & .scaleNumber {
            color: var(--a-9-a-9-a-9, #a9a9a9);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }
    & .messengers__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .socialMedia__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        & .title__contacts {
          color: var(--1-a-1-c-23, #1a1c23);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin-bottom: 16px;
        }
        & .socialMedia__body {
          display: flex;
          align-items: center;
          column-gap: 16px;
          height: 56px;
        }
        & .socialMedia__body .icon {
          cursor: pointer;
        }
      }
      & .phones__wrapper {
        width: 100%;
        max-width: 512px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        & .title__contacts {
          color: var(--1-a-1-c-23, #1a1c23);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin-bottom: 16px;
        }
        & .input__wrapper {
          width: 100%;
          height: 56px;
          border-radius: 100px;
          background: #f4f5f6;
          display: flex;
          align-items: center;
          padding-left: 24px;
          .inputs__body {
            max-width: 128px;
            display: flex;
            align-items: flex-end;
            column-gap: 8px;

            & input {
              max-width: 30%;
              text-align: center;
              background: #f4f5f6;
              border-bottom: 1px solid rgba(26, 28, 35, 0.5);
              color: #222;
              position: relative;
            }
            & input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            & .phoneCode {
              color: var(--1-a-1-c-23, #1a1c23);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin-top: -4px;
            }
          }
        }
      }
      & .priceListbutton {
        width: 100%;
        height: 56px;
        border-radius: 80px;
        background: var(--1-a-56-ff, #1a56ff);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 32px;
      }
      & .icones__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .text {
          color: var(--1-a-1-c-23, #1a1c23);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 16px;
        }
        & .icones__body {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
        }
        & .icones__body .icon {
          cursor: pointer;
        }
      }
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 164px;
  }
  .priceList__body {
    display: flex;
    align-items: center;
  }
  .information__body {
    width: 100%;
    max-width: 656px;
    //max-height: 692px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #2b2a3b;
    border-radius: 32px 0 0 32px;
    padding: 24px 12px 24px 24px;
    & .informationTitle {
      color: #fff;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
      margin-bottom: 24px;
      max-width: 100%;
    }
    & .informationText1 {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 5px;
    }
    & .informationText2 {
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
    & .bonuses {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 134px;
      padding-left: 41px;
      position: relative;
      & .bonuses__title {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 34px;
      }
      & .line__wrapper {
        display: flex;
        align-items: center;
        column-gap: 24px;
        margin-bottom: 24px;
        & .counter__text {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          max-width: 70%;
        }
      }
      & .bonusArrow {
        position: absolute;
        left: -5px;
        top: 13px;
      }
    }
  }
  .counter__body {
    width: 100%;
    min-height: 780px;
    height: auto;
    max-width: 624px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 93px 56px;
    background: #fff;
    fill: #fff;
    stroke-width: 1px;
    stroke: var(--f-4-f-5-f-6, #f4f5f6);
    filter: drop-shadow(0px 64px 64px rgba(31, 47, 70, 0.12));
    & .slider__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .sliderTitle {
        color: var(--1-a-1-c-23, #1a1c23);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 16px;
      }
      & .slider__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .amount {
          color: var(--1-a-1-c-23, #1a1c23);
          text-align: center;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          margin-bottom: 16px;
        }
        & .slider {
          width: 100%;
          height: 10px;
          background: #f4f5f6;
        }
        & .thumb {
          position: absolute;
          top: 0px;
          transform: translateY(-31%);
          touch-action: none;
          width: 24px;
          height: 24px;
          background: #fff;
          border: 7px solid #1a56ff;
          border-radius: 100%;
        }
        & .scale {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: 12px;
          margin-bottom: 36px;
          & .scaleNumber {
            color: var(--a-9-a-9-a-9, #a9a9a9);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }
    & .messengers__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .socialMedia__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        & .title__contacts {
          color: var(--1-a-1-c-23, #1a1c23);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin-bottom: 16px;
        }
        & .socialMedia__body {
          display: flex;
          align-items: center;
          column-gap: 16px;
          height: 56px;
        }
        & .socialMedia__body .icon {
          cursor: pointer;
        }
      }
      & .phones__wrapper {
        width: 100%;
        max-width: 512px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        & .title__contacts {
          color: var(--1-a-1-c-23, #1a1c23);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin-bottom: 16px;
        }
        & .input__wrapper {
          width: 100%;
          height: 56px;
          border-radius: 100px;
          background: #f4f5f6;
          display: flex;
          align-items: center;
          padding-left: 24px;
          .inputs__body {
            max-width: 128px;
            display: flex;
            align-items: flex-end;
            column-gap: 8px;

            & input {
              max-width: 30%;
              text-align: center;
              background: #f4f5f6;
              border-bottom: 1px solid rgba(26, 28, 35, 0.5);
              color: #222;
              position: relative;
            }
            & input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            & .phoneCode {
              color: var(--1-a-1-c-23, #1a1c23);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin-top: -4px;
            }
          }
        }
      }
      & .priceListbutton {
        width: 100%;
        height: 56px;
        border-radius: 80px;
        background: var(--1-a-56-ff, #1a56ff);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 32px;
      }
      & .icones__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .text {
          color: var(--1-a-1-c-23, #1a1c23);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 16px;
        }
        & .icones__body {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
        }
        & .icones__body .icon {
          cursor: pointer;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 164px;
  }
  .priceList__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
  }
  .information__body {
    width: 100%;
    max-width: 656px;
    //max-height: 692px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #2b2a3b;
    border-radius: 32px;
    padding: 18px;
    & .informationTitle {
      color: #fff;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 44px;
      margin-bottom: 24px;
      max-width: 100%;
    }
    & .informationText1 {
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 5px;
      max-width: 75%;
    }
    & .informationText2 {
      color: rgba(255, 255, 255, 0.5);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      max-width: 75%;
    }
    & .bonuses {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 90px;
      padding-left: 24px;
      position: relative;
      & .bonuses__title {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 34px;
      }
      & .line__wrapper {
        display: flex;
        align-items: center;
        column-gap: 24px;
        margin-bottom: 24px;
        & .counter__text {
          color: #fff;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          max-width: 70%;
        }
      }
      & .bonusArrow {
        position: absolute;
        left: -5px;
        top: 13px;
      }
    }
  }
  .counter__body {
    width: 100%;
    min-height: auto;
    height: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    background: #fff;
    border-radius: 32px;
    fill: #fff;
    stroke-width: 1px;
    stroke: var(--f-4-f-5-f-6, #f4f5f6);
    filter: drop-shadow(0px 64px 64px rgba(31, 47, 70, 0.12));
    & .slider__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      & .sliderTitle {
        color: var(--1-a-1-c-23, #1a1c23);
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        margin-bottom: 16px;
      }
      & .slider__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        & .amount {
          color: var(--1-a-1-c-23, #1a1c23);
          text-align: center;
          font-size: 32px;
          font-style: normal;
          font-weight: 600;
          line-height: 32px;
          margin-bottom: 16px;
        }
        & .slider {
          width: 100%;
          height: 10px;
          background: #f4f5f6;
        }
        & .thumb {
          position: absolute;
          top: 0px;
          transform: translateY(-31%);
          touch-action: none;
          width: 24px;
          height: 24px;
          background: #fff;
          border: 7px solid #1a56ff;
          border-radius: 100%;
        }
        & .scale {
          width: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          margin-top: 12px;
          margin-bottom: 36px;
          & .scaleNumber {
            color: var(--a-9-a-9-a-9, #a9a9a9);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
          }
        }
      }
    }
    & .messengers__wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .socialMedia__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        & .title__contacts {
          color: var(--1-a-1-c-23, #1a1c23);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin-bottom: 16px;
        }
        & .socialMedia__body {
          display: flex;
          align-items: center;
          column-gap: 16px;
          height: 56px;
        }
        & .socialMedia__body .icon {
          cursor: pointer;
        }
      }
      & .phones__wrapper {
        width: 100%;
        max-width: 512px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        & .title__contacts {
          color: var(--1-a-1-c-23, #1a1c23);
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 28px;
          margin-bottom: 16px;
        }
        & .input__wrapper {
          width: 100%;
          height: 56px;
          border-radius: 100px;
          background: #f4f5f6;
          display: flex;
          align-items: center;
          padding-left: 24px;
          .inputs__body {
            max-width: 128px;
            display: flex;
            align-items: flex-end;
            column-gap: 8px;

            & input {
              max-width: 30%;
              text-align: center;
              background: #f4f5f6;
              border-bottom: 1px solid rgba(26, 28, 35, 0.5);
              color: #222;
              position: relative;
            }
            & input::-webkit-inner-spin-button,
            input::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            & .phoneCode {
              color: var(--1-a-1-c-23, #1a1c23);
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              margin-top: -4px;
            }
          }
        }
      }
      & .priceListbutton {
        width: 100%;
        height: 56px;
        border-radius: 80px;
        background: var(--1-a-56-ff, #1a56ff);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 32px;
      }
      & .icones__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .text {
          color: var(--1-a-1-c-23, #1a1c23);
          text-align: center;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 16px;
        }
        & .icones__body {
          display: flex;
          align-items: flex-start;
          column-gap: 16px;
        }
        & .icones__body .icon {
          cursor: pointer;
        }
      }
    }
  }
}
