@import "../../mediaBreakpoints.scss";
@import "../../variables.scss";

@include desctop {
    .popup__wrapper {
        width: 100%;
        max-width: 520px;
        height: 380px;
        padding: 32px;
        background: #fff;
        fill: #fff;
        filter: drop-shadow(0px 16px 64px rgba(31, 47, 70, 0.16));
        border-radius: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: none;
        opacity: 1;
        animation-duration: 1s;
        animation-name: fadeIn;
        z-index: 2000;
        & .popup__body {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          row-gap: 32px;
          position: relative;
          & .text {
            color:rgb(26, 28, 35);
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
          }
          & .popupButton {
            width: 100%;
            max-width: 120px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(26, 86, 255);
            border-radius: 80px;
            color: rgb(26, 86, 255);
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            cursor: pointer;
          }
          & .close {
            position: absolute;
            top: -12px;
            right: 24px;
            cursor: pointer;
          }
          & .close:hover {
            transform: scale(120%);
          }
          & .report__wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            & .reportItem {
              display: flex;
              align-items: flex-start;
              justify-content: space-between;

              & .reportItemCell {
                display: flex;
                flex-direction: column;
                text-align: left;
                row-gap: 8px;
                font-size: 16px;
                font-weight: 500;

                & .title {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
}
@include tablet {
  .popup__wrapper {
    width: 100%;
    max-width: 520px;
    height: 380px;
    padding: 32px;
    background: #fff;
    fill: #fff;
    filter: drop-shadow(0px 16px 64px rgba(31, 47, 70, 0.16));
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeIn;
    z-index: 2000;
    & .popup__body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      row-gap: 32px;
      position: relative;
      & .text {
        color:rgb(26, 28, 35);
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
      }
      & .popupButton {
        width: 100%;
        max-width: 120px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(26, 86, 255);
        border-radius: 80px;
        color: rgb(26, 86, 255);
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        cursor: pointer;
      }
      & .close {
        position: absolute;
        top: -12px;
        right: 24px;
        cursor: pointer;
      }
      & .close:hover {
        transform: scale(120%);
      }
      & .report__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        & .reportItem {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          & .reportItemCell {
            display: flex;
            flex-direction: column;
            text-align: left;
            row-gap: 8px;
            font-size: 16px;
            font-weight: 500;

            & .title {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
@include mobile {
  .popup__wrapper {
    width: 100%;
    max-width: 520px;
    height: 380px;
    padding: 32px;
    background: #fff;
    fill: #fff;
    filter: drop-shadow(0px 16px 64px rgba(31, 47, 70, 0.16));
    border-radius: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeIn;
    z-index: 2000;
    & .popup__body {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      row-gap: 32px;
      position: relative;
      & .text {
        color:rgb(26, 28, 35);
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
      }
      & .popupButton {
        width: 100%;
        max-width: 120px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(26, 86, 255);
        border-radius: 80px;
        color: rgb(26, 86, 255);
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        cursor: pointer;
      }
      & .close {
        position: absolute;
        top: -12px;
        right: 24px;
        cursor: pointer;
      }
      & .close:hover {
        transform: scale(120%);
      }
      & .report__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        & .reportItem {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          & .reportItemCell {
            display: flex;
            flex-direction: column;
            text-align: left;
            row-gap: 8px;
            font-size: 16px;
            font-weight: 500;

            & .title {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
