@media (min-width: 1025px) {
    .wrapper {
    width: 100%;
    max-width: 100%;
    margin-bottom: 32px;
    }
    .news__body {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 32px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        margin-bottom: 32px;
        }
        .news__body {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 32px;
        }
}
@media (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 100%;
        margin-bottom: 32px;
        }
        .news__body {
            width: 100%;
            display: grid;
            grid-template-columns: auto;
            column-gap: 0px;
        }
}