@import "../../mediaBreakpoints.scss";
@import "../../variables.scss";

@include desctop {
  .wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 20px;

    & .mainTitle {
      color: $primaryColor;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
    }
  }
}
@include tablet {
    .wrapper {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 56px;
        margin-bottom: 20px;
    
        & .mainTitle {
          color: $primaryColor;
          font-size: 36px;
          font-weight: 600;
          line-height: 48px;
        }
      }
}
@include mobile {
  .wrapper {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, min-max(150px,1fr));
    row-gap: 32px;
    margin-top: 80px;
    margin-bottom: 20px;

    & .mainTitle {
      color: $primaryColor;
      font-size: 32px;
      font-weight: 600;
      line-height: 48px;
    }
  }
}
